{%extends 'base.html'%}


{% block content %}

    
{% if user.is_authenticated%}
<h2>Add Player</h2>
    <form method="POST" action="{% url 'AddPlayer' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label     class="form-label">Name</label>
            <input type="text" name="name" class="form-control" >
          </div>
        <br>
        <div class="mb-3">
            <label    class="form-label">SURNAME</label>
            <input type="text" name="surname" class="form-control" >
          </div>
        <br>
        <div class="mb-3">
            <label   class="form-label">CLUB ID</label>
            <input type="number" name="club id" class="form-control" >
          </div>

          <br>

          <div class="mb-3">
            <label  class="form-label">CATEGORY ID</label>
            <input type="number"  name="category id" class="form-control" >
          </div>

        {% if form.errors %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  Your Form Has Errors
			  {% for field in form %}
			  	{% if field.errors %}
			  		{{ field.errors }}
			  	{% endif %}
			  {% endfor %}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}
        
      {{ form.as_p }}
        <button type="submit" class="btn btn-info">Add</button>
    </form>

    {% endif%}

    {%endblock%}