

{%extends 'base.html'%}


{% block content %}

<div class="container">
{% if user.is_authenticated%}

    <form method="POST" action="{% url 'addCoach' %}">
        {% csrf_token %}
        # club_id, name, number_of_players, cups, stadium, date_of_establishment

        <div class="mb-3">
            <label     class="form-label"> Coach Name</label>
            <input  required type="text" name="name" class="form-control" >
          </div>
        <br>
        <div class="mb-3">
            <label    class="form-label">Surname</label>
            <input required type="text" name="surname" class="form-control" >
          </div>

          <br>
          <div class="mb-3">
              <label   class="form-label">Age</label>
              <input required type="number" name="age" class="form-control" >
            </div>
  
        <br>
        <div class="mb-3">
            <label   class="form-label">Acheivements</label>
            <input required type="number" name="cups" class="form-control" >
          </div>

          <br>

          <div class="mb-3">
            <label   class="form-label">Experience</label>
            <input required type="number" name="experience" class="form-control" >
          </div>

          <br>

          <div class="mb-3">
            <label  class="form-label">Club ID</label>
            <input required type="number"  name="club_id" class="form-control" >
            <div id="emailHelp" class="form-text">Position value must be in this form yy-mm-dd</div>

          </div>

          <br>

          <div class="mb-3">
            <label  class="form-label">Category ID</label>
            <input required type="number"  name="category_id" class="form-control" >
            <div id="emailHelp" class="form-text">Position value must be in this form yy-mm-dd</div>

          </div>

        {% if form.errors %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
			  Your Form Has Errors
			  {% for field in form %}
			  	{% if field.errors %}
			  		{{ field.errors }}
			  	{% endif %}
			  {% endfor %}
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endif %}
        
      {{ form.as_p }}
        <button type="submit" class="btn btn-info">Add</button>
    </form>

    {% endif%}
  </div>
    {%endblock%}