{%extends 'base.html'%}

{% block content %}


{% if user.is_authenticated%}
<br>
<h2>Coach's table </h2>
<br>
<br>
<td><a class="btn btn-success"  href="{% url 'addCategory'     %}">Add Category</a></td>
<br>
<br>
<table class="table   table-striped table-hover">
  <thead class=" table-dark">
    <tr>

      <th scope="col">#</th>
      <th scope="col">Level</th>
      <th scope="col">Cups</th>
      <th scope="col">Number Of Players</th>
      <th scope="col"> CLub ID  </th>
      <th scope="col">   </th>
      <th scope="col">     </th>

 

    </tr>
  </thead>
  <tbody>
{% for category in categories %}
<tr> 

  <th scope="row">{{category.category_id}}</th>
  <td>{{category.level}}</td>
  <td>{{category.cups}}</td>
  <td>{{category.number_of_players}}</td>
  <td>{{category.club_id}}</td>
  
 
  <td><a class="btn btn-info"  href="{% url 'updateCategory' category.category_id  %}">Update</a></td>
  <td><a class="btn btn-danger"  href="{% url 'delete'  category.category_id 'category' 'CATEGORY_ID'  %}">Delete</a></td>

  </td>
</tr>
{%endfor%}
</tbody>
</table>
{% else %}
<h2>Login</h2>
<br>
<form method="post" action="{%url 'home'%}">
    {% csrf_token %}

<form>
    <div class="mb-3">
      <input type="text" class="form-control" name="Username", placeholder="Username" required>
    </div>
    <br>
    <div class="mb-3">
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</form>


{% endif%}
{%endblock%}