{%extends 'base.html'%}

{% block content %}


{% if user.is_authenticated%}
<br>
<h2>Coach's table </h2>
<br>
<br>
<td><a class="btn btn-success"  href="{% url 'addCoach'    %}">Add Coach</a></td>
<br>
<br>
<table class="table   table-striped table-hover">
  <thead class=" table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Age</th>
      <th scope="col">Experience</th>
      <th scope="col">Acheivements </th>
      <th scope="col"> CLub ID  </th>
      <th scope="col"> Category ID   </th>
      <th scope="col">   </th>
      <th scope="col">   </th>



    </tr>
  </thead>
  <tbody>
{% for coach in coaches %}
<tr> 

  <th scope="row">{{coach.coach_id}}</th>
  <td>{{coach.name}}</td>

  <td>{{coach.surname}}</td>
  <td>{{coach.age}}</td>
  <td>{{coach.experience}}</td>
  <td>{{coach.club_id}}</td>
  <td>{{coach.category_id}}</td>
 
  <td><a class="btn btn-info"  href="{% url 'updateCoach'  coach.coach_id  %}">Update</a></td>

  <td><a class="btn btn-danger"  href="{% url 'delete'  coach.coach_id 'coach' 'COACH_ID'  %}">Delete</a></td>

  </td>
</tr>
{%endfor%}
</tbody>
</table>
{% else %}
<h2>Login</h2>
<br>
<form method="post" action="{%url 'home'%}">
    {% csrf_token %}

<form>
    <div class="mb-3">
      <input type="text" class="form-control" name="Username", placeholder="Username" required>
    </div>
    <br>
    <div class="mb-3">
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</form>


{% endif%}
{%endblock%}