<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{%url 'home'%}">CLUB MANAGER</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

          {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          <a class="nav-link" href="{% url 'home' %}">Player</a>
          <a class="nav-link" href="{% url 'player_info' %}">player_info</a>
          <a class="nav-link" href="{% url 'clubs' %}">clubs</a>
          <a class="nav-link" href="{% url 'coach' %}">coach</a>
          <a class="nav-link" href="{% url 'worker' %}">worker</a>
          <a class="nav-link" href="{% url 'category' %}">category</a>
          <a class="nav-link" href="{% url 'contract' %}">contract</a>
          {% else %}
          <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Login</a>
          <a class="nav-link active" aria-current="page" href="{%url 'register'%}">Register</a>

           {% endif %}
        </div>
      </div>
    </div>
  </nav>