{%extends 'base.html'%}

{% block content %}


{% if user.is_authenticated%}
<br>
<h2>Info's table </h2>
<br>
<td><a class="btn btn btn-success"  href="{% url 'addInfos'  %}">Add Info</a></td>
<br>
<br>

<table class="table   table-striped table-hover">
  <thead class=" table-dark">
    <tr> 
      <th scope="col">#</th>
      <th scope="col">Position</th>
      <th scope="col">Foot</th>
      <th scope="col">Height</th>
      <th scope="col">Weight</th>
      <th scope="col">Goals</th>
      <th scope="col">Assists</th>
      <th scope="col">Matches</th>
      <th scope="col">Yellow Card</th>
      <th scope="col">Red Card</th>
      <th scope="col">  </th>
      <th scope="col">  </th>
    




    </tr>
  </thead>
  <tbody>
{% for info in player_infos %}
<tr>
  <th scope="row">{{info.player_id}}</th>
  <td>{{info.position}}</td>
  <td>{{info.foot}}</td>
  <td>{{info.height}}</td>
  <td>{{info.weight}}</td>
  <td>{{info.goals}}</td>
  <td>{{info.assists}}</td>
  <td>{{info.matches}}</td>
  <td>{{info.yellow_card}}</td>
  <td>{{info.red_card}}</td>
  <td><a class="btn btn-info"  href="{% url 'updateInfo'  info.player_id  %}">Update</a></td>

  </td>
</tr>
{%endfor%}
</tbody>
</table>
{% else %}
<h2>Login</h2>
<br>
<form method="post" action="{%url 'home'%}">
    {% csrf_token %}

<form>
    <div class="mb-3">
      <input type="text" class="form-control" name="Username", placeholder="Username" required>
    </div>
    <br>
    <div class="mb-3">
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</form>


{% endif%}
{%endblock%}